* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Tammudu 2", cursive;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

//Weather container
.weather-container {
  width: 100%;
  height: 18vh;

  .weather-card {
    width: 300px;
    height: 140px;
    margin-top: 3rem;
    margin-left: 2.5rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }

  .info-weather {
    height: 60px;
    width: 100%;
    display: flex;
    .timezone {
      margin: 0 2rem;
    }
  }
  .temperature {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;

    .info-degree {
      display: flex;

      .degree {
        margin-right: 0.3rem;
      }
    }
  }

  #wicon {
    margin-left: 2rem;
  }
}

//Todo-list container
.todo-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #logo {
    font-family: "Abril Fatface", cursive;
    color: white;
    font-size: 3rem;
    margin: 1rem 0;
  }

  .input {
    margin: 1.5rem 0;
    display: flex;

    button,
    input {
      padding: 0.6rem;
      border: none;
      font-size: 1.2rem;
      background: white;
    }

    input {
      width: 340px;
    }

    button {
      padding: 0.52rem;
      cursor: pointer;
      color: #eda6b1;
      transition: 0.5s;

      &:hover {
        color: white;
        background: #eda6b1;
      }
    }
  }
}

.todo-container {
  .todo-div {
    display: flex;
    background: white;
    min-width: 370px;
    min-height: 40px;
    justify-content: space-between;
    font-size: 1.3rem;
    transition: all 0.5s;

    &:not(:first-child) {
      margin: 1rem 0rem;
    }

    li {
      margin-top: 2px;
      flex: 1;
      list-style: none;
    }
    button {
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: white;
    }
    li,
    button {
      padding: 0rem 1rem;
    }

    .complete-btn {
      background: #db9ba6;
      transition: 2s;
    }
    .delete-btn {
      background: #40545e;
      transition: 2s;
    }
  }

  .completed {
    opacity: 50%;
  }

  .fly-right {
    transform: translateX(100%);
    opacity: 0;
  }
  .fly-left {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.music-container {
  position: absolute;
  display: flex;
  width: 300px;
  height: 80px;
  top: 100px;
  right: 130px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);

  .img-container {
    width: 90px;
    position: relative;
  }
  .img-container::after {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    height: 16px;
    width: 16px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;
  }
}

.music-container.play img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.navigation {
  display: flex;
  align-self: center;
  justify-content: center;
  z-index: 1;

  .action-btn {
    border: 0;
    background: none;
    opacity: 30%;
    margin: 0 15px 0 35px;
    cursor: pointer;
    font-size: 1rem;
  }
  .action-btn-big {
    opacity: 50%;
    font-size: 1.5rem;
  }
}

.music-info {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 1rem 1rem 0 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  opacity: 0;
  transform: translateY(0%);
  padding: 10px 10px 10px 100px;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;

  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 10px 0;
    height: 4px;
    width: 100%;
  }

  .progress {
    background-color: #db9ba6;
    height: 4px;
    width: 0%;
    transition: width 0.1s linear;
  }
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}
